.header {
  height: rem(56px);
  background-color: var(--mantine-color-body);

}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: #1F1534;
  opacity: 0.5;
  font-size: 18px;
  font-weight: 400;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    /* background-color: var(--mantine-color-blue-filled); */
    /* color: var(--mantine-color-white); */
    font-weight: 700;
    opacity: 1;
  }
}

.logo {
  width: 41px;
  height: 41px;
  background-color:#458FF6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Muli;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
